[access]
	inheritFrom = webos-pro/z-parent-project
[submit]
	action = inherit
[project]
	description = Media Recorder Service
[access "refs/heads/*"]
	abandon = group webosose/com.webos.service.mediarecorder/integrators
	addPatchSet = group webosose/com.webos.service.mediarecorder/integrators
	create = group webosose/com.webos.service.mediarecorder/integrators
	createSignedTag = group webosose/com.webos.service.mediarecorder/integrators
	createTag = group webosose/com.webos.service.mediarecorder/integrators
	delete = group webosose/com.webos.service.mediarecorder/integrators
	deleteChanges = group webosose/com.webos.service.mediarecorder/integrators
	deleteOwnChanges = group webosose/com.webos.service.mediarecorder/integrators
	editAssignee = group webosose/com.webos.service.mediarecorder/integrators
	editHashtags = group webosose/com.webos.service.mediarecorder/integrators
	editTopicName = group webosose/com.webos.service.mediarecorder/integrators
	forgeAuthor = group webosose/com.webos.service.mediarecorder/integrators
	forgeCommitter = group webosose/com.webos.service.mediarecorder/integrators
	forgeServerAsCommitter = group webosose/com.webos.service.mediarecorder/integrators
	label-Code-Review = -2..+2 group webosose/com.webos.service.mediarecorder/integrators
	label-Package-Only-Build = +0..+6 group webosose/com.webos.service.mediarecorder/integrators
	label-Package-Only-Build-LGSI = +0..+6 group webosose/com.webos.service.mediarecorder/integrators
	label-Verified = -1..+1 group webosose/com.webos.service.mediarecorder/integrators
	owner = group webosose/com.webos.service.mediarecorder/integrators
	push = group webosose/com.webos.service.mediarecorder/integrators
	pushMerge = group webosose/com.webos.service.mediarecorder/integrators
	read = group webosose/com.webos.service.mediarecorder/integrators
	rebase = group webosose/com.webos.service.mediarecorder/integrators
	removeReviewer = group webosose/com.webos.service.mediarecorder/integrators
	revert = group webosose/com.webos.service.mediarecorder/integrators
	submit = group webosose/com.webos.service.mediarecorder/integrators
	toggleWipState = group webosose/com.webos.service.mediarecorder/integrators
	viewPrivateChanges = group webosose/com.webos.service.mediarecorder/integrators
[access "refs/tags/*"]
	createTag = group webosose/com.webos.service.mediarecorder/integrators
